.big-banner{
    background-image: url('../images/background.jpg');
    background-size: 100%;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important; }

.row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }